
<div class="header">
<div class="logo">
<%= image_tag "asset46.png", alt: "logo", size:"150x150" %>
</div>
<p class="contact">nea@lockette.online</p>
</div>


<div class="intro">

<i><h1>n<sub>ea</sub>
n<sub>oc</sub>
</h1></i>
<%# <h1><i>n</i>ea <i>n</i>oc</h1> %>

  <%= image_tag("photo-nea.png", id:"cute", size:"250x250") %>
</div>

  <small>web developer</small>
  <small>researcher</small>
  <small>graphic designer</small>
  <p>Interdisciplinary researcher and multimedia artist in Tiohtià:ke/ "Montreal".</p>
    <p>Interested in the intersections of art, technology, grief, language, and privacy.
  </p>
  <%= image_tag("asset43.png", id:"cute", size:"50x50") %>

<hr style="height:2px;border-width:0;color:white;background-color:white">



<h2>whoami: </h2>
    <p>Get to know me through my projects!</p>
    <%= image_tag("blue-blue.png", id:"cute", size:"250x250") %>
    <%= image_tag("blue-blue.png", id:"cute", size:"250x250") %>
    <%= image_tag("blue-blue.png", id:"cute", size:"250x250") %>


<hr style="height:2px;border-width:0;color:white;background-color:white">

<h2>my services</h2>

   <p>I ensure that every project is executed with precision and attention to detail. I am committed to staying up-to-date with the latest design trends, allowing me to deliver modern and innovative designs that will set you apart from the competition.

Collaboration is at the heart of my process. I believe that great design is a result of understanding your goals and objectives. By working closely with you, I aim to create designs that not only meet your expectations but exceed them.
<p style="color: #0fba48;";>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit esse libero voluptate tempora, officiis ducimus. Recusandae, distinctio! Vitae eveniet dolor fugiat porro provident, laudantium alias, distinctio eaque deserunt nemo praesentium.</p>

Take a look at my portfolio to see examples of my past work and get a glimpse of the quality and creativity I bring to every project. If you're ready to elevate your brand and make a lasting impression, let's collaborate! Contact me today to discuss your graphic design needs and let's bring your vision to life.</p>
   <%= image_tag("asset43.png", id:"cute", size:"50x50") %>
   <%= image_tag("asset46.png", id:"cute", size:"50x50") %>
   <%= image_tag("blue-blue.png", id:"cute", size:"50x50") %>
<hr style="height:2px;border-width:0;color:white;background-color:white">
<h2>Clients and Reviews</h2>
<%= image_tag("al-jazeera-logo.png", id:"cute", size:"50x50") %>
   <%= image_tag("Euronews.png", id:"cute", size:"50x50") %>
<hr style="height:2px;border-width:0;color:white;background-color:white">


<h2>service packages</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus delectus
   culpa laudantium impedit ullam perferendis ducimus animi libero dolores molestias.
   Nostrum corporis, voluptates voluptate tempora neque ipsa pariatur officia ut.</p>
   <div class="image-test">
   <%= image_tag("mmryorb.PNG", id:"cute", size:"250x250") %>
   </div>
<hr style="height:2px;border-width:0;color:white;background-color:white">

<h2>Contact</h2>
<p>Fill out my contact/request form</p>
<p>google-form.com</p>
<p>Book a meeeting with me</p>
<p>calendly</p>
<p>send me an email</p>
<p>nea@lockette.online</p>
   <%= image_tag("blue-blue.png", id:"cute", size:"250x250") %>
<hr style="height:2px;border-width:0;color:white;background-color:white">



<p>No Cookies 2023</p>
<p>Contact Links</p>
<p>Friends</p>
<p>Blog</p>
<p>Art</p>
